#header {
}
.container {
	width: 640px;
    float: left
}
.left {
	width: 150px;
	float: left;
}
.menu {
    margin-left: 1em;
}
.main {
	margin-left: 155px;
}
#footer {
	width: 640px;
}
body {
  margin: 0px 0px 0px 0px;
  font-family: verdana, geneva, arial, helvetica, sans-serif; 
  font-size: 11px; 
  text-decoration: none; 
  font-weight: normal; 
  line-height: normal; 
  background: #fff url(../images/bg150.gif) repeat-y left;
}
